<section id="mainContener">
    <a class="aMenu" routerLink="/newPost">Nouveau Post</a>
    <h1>Blog</h1>
        <article *ngFor="let post of tabPost ; index as i" class="postBlog" [ngClass]="{'dontLike' : tabPost[i].loveIt<0, 'likeIt': tabPost[i].loveIt>0}">
            <h2>{{tabPost[i].titre}}</h2>
            <p>Le {{ tabPost[i].created_at}}</p>
            <p>{{tabPost[i].content}}</p>
            <div class="loveIt">
                <button (click)="addLoveIt(i)">Love It</button>
                <button (click)="addDontLove(i)">Don't Love It</button>
                <p>total des appréciations : {{tabPost[i].loveIt}}</p>
            </div>
            <div class="deleteBtnDiv">
                <button (click)="deletePost(i)">Delete</button>
            </div>
    
        </article>

</section>
