
.lienActif{
    background-color: rgb(255, 0, 0);
}
#mainMenu{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.889);
    display: flex;
    margin-bottom: 20px;
}

#mainMenu>ul{
    margin:0;
    padding: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
#mainMenu>ul>li{
    height: 100%;
    padding: 0 10px ;
    display: flex;
    align-items: center;
}


.aMenu{
    text-decoration: none;
    color: white;
}