<nav id="mainMenu">
    <ul>
        <li routerLinkActive="lienActif"><a class="aMenu" routerLink="/home">HOME</a></li>
        <li routerLinkActive="lienActif"><a class="aMenu" routerLink="/imc">IMC</a></li>
        <li routerLinkActive="lienActif"><a class="aMenu" routerLink="/devises">DEVISES</a></li>
        <li routerLinkActive="lienActif"><a class="aMenu" routerLink="/signin">SIGNIN</a></li>
    </ul>
    <p style="color:red; font-size:1.3em;">/!\ Pages non responsives /!\</p>
</nav>

<router-outlet></router-outlet>
