<section id="mainContener">
    <article>
        <div id="titre">
            <h1>Nouveau Post</h1>
        </div>
        <form action="">
            <div class="question">
                <label for="titlePost" id="labeltitlePost">Titre du nouveau post</label>
                <input type="text" id="titlePost" minlength="5">
                <p>Merci d'entrer un titre de plus de 5 caractères</p>
            </div>
            <div class="question">
                <label for="contenuPost" id="labelcontenuPost">Contenu de votre post :</label>
                <textarea name="contenuPost" id="contenuPost" cols="30" rows="10"></textarea>
            </div>
            <div class="question">
                <button type="submit">Ajouter votre post</button>
            </div>
        </form>
    </article>

</section>