*{
    font-size: 1.1em;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;

}
input{
    margin: 5px 5px 10px 5px;
    border-radius: 5px;
    padding:5px;
}
button{
    margin-top: 40px;
    height: 2em;
    box-shadow: 2px 2px 5px red;
}
.question{
    display: grid;
    grid-template-columns: 1fr 3fr;
}