/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
#mainContener{
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding:50px ;
    display: flex !important ;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#mainContener article{
    width: 50%;
    box-shadow: 2px 2px 5px red;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 10px;
}